@extends(main)
<body>
    <div class="mt-8 mx-16">
        <h1 class="text-5xl font-bold">Basilisk</h1>
        <p class="mt-8 text-2xl font-mono indent-8 text-justify">
            <span class="italic text-green-500">Basilisk</span> é um simples e leve framework em <span class="text-purple-700">PHP</span> feito para desenvolver aplicações monolíticas de forma rápida e simples.
        </p>
        <p class="mt-4 text-2xl font-mono indent-8 text-justify">
            Esse é um framework, até o momento, desenvolvido apenas por uma pessoa (Eu, <a href="https://github.com/akemi-adam" class="italic text-pink-500 hover:underline" target="_blank">{{ $name }}</a>). No instante em que escrevo isso, ainda sou estudante do curso de Informática para Internet do IFRN, campus Caicó e estou no 4° período. Por conta disso, eu não aconselho utilizar esse framework para desenvolver alguma aplicação comercial ou alguma coisa que precise de muita segurança. Isso é mais uma forma de eu aprender como um framework web funciona do que algo para ser usado num contexto real do dia a dia.
        </p>
    </div>
</body>
</html>
